#balance-container {
	width: 30%;
	height: 30vh;
}

.analitics-font-size {
	font-size: 0.8rem;
}

.incomes-fontColor {
	color: #76c17f;
}

.expenses-fontColor {
	color: #e0837e;
}

#totalBalance-color {
	color: #6a7de7;
}
